<!-- SEARCH -->
<div class="mx-auto max-w-2xl">
  <div class="relative">
    <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">Name</label>
    <input type="text" name="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Jane Smith">
  </div>
</div>


<!-- articles list -->
<div class="mx-auto max-w-2xl my-8">
    <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
      <li  *ngFor="let article of articles" class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
        <a routerLink="/detail/{{article.URI}}">
        <!-- <button type="button" (click)="onSelect(article)" class="text-left"> -->
        <div class="flex gap-x-4">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              <a href="#">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                {{article.title}}
              </a>
            </p>
            <p class="mt-1 flex text-xs leading-5 text-gray-500">
              <span class="relative truncate hover:underline">{{article.DOI}}</span>
            </p>
          </div>
        </div>
        <!-- </button> -->
        </a>
      </li>
      
    </ul>
    </div>
  

    <!-- Pagination -->
<nav class="flex items-center max-w-2xl justify-between border-t border-gray-200 bg-white mx-auto mb-24 px-4 py-3 sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">1</span>
      to
      <span class="font-medium">10</span>
      of
      <span class="font-medium">20</span>
      results
    </p>
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">
    <a href="#" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
    <a href="#" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
  </div>
</nav>